
.make-materials-card {
  .select-material-creation {
    background: var(--ion-color-step-200);
  }

  .material-build-preview-container {
    width: "100%";
    background-color: var(--ion-color-notebook);
    padding: 1em;
    .material-build-preview {
      transform: rotate(2deg);
      width: 100%;

      .card {
        box-shadow: 4px 4px;
      }
    }
  }
}

.detail {
  display: none;
}
.show-detail {
  .detail {
    display: initial;
  }
}

.printable {
  &.card, .card {
    border-radius: 0 !important;
  }
}
