.player-move-button.button-small {
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  margin: 2px !important;
  overflow: visible;
  font-size: 2em !important;
}

.button-native {
  padding: 0 !important;
}
