.takeDamagePopover .popover-content {

  .damage-option-item {

    .damage-option-icon {
      font-size: 2em;
      margin-right: 16px;
      color: var(--ion-color-danger);
      min-width: 40px;
    }
  }

  .damageInstructionsCard {
    .damage-option-icon {
      font-size: 2em;
      float: right;
      color: var(--ion-color-warning);
    }

    .effectNote {
      margin-left: 0.5em !important;
      margin-right: 0.5em !important;

      .damage-option-icon {
        color: var(--ion-color-notebook-contrast);
      }
    }
  }
}
