.record-logs {
  .dropCheck {
    width: 400px;
    margin: 0 auto;
    ion-text {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-size: 0.8em;
    }
  }

  .dropzone {
    width: 400px;
    height: 300px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border: solid var(--ion-text-color) 3px;
    background-color: rgba(255,255,255,0.2);

    vertical-align: bottom;
    display: flex;
    flex-direction: column;

    &.isDragging {
      border-style: dashed;
    }

    .preview {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      width: 100%;
      height: calc(300px - 1em);
    }

    .instructions {
      padding: 0.5em;
    }
  }
}
