.ggo-icon {
  --size: calc(var(--element-width) * 0.2);
}

.img-icon {
  font-size: initial;
  width: var(--size);
  height: var(--size);
  background-color: var(--colour);
  border-radius: 50%;
}

.ggo-icon-planet-gas {
  transform: rotate(-30deg) scale(1.5);
}

.ggo-icon.svg-inline--fa {
  font-size: var(--size);
}

.ggo-icon-enemy {
    color: silver;
}

.ggo-icon-robotFactory {
    color: gold;
}

.ggo-icon-fuel {
    color: yellow;
}

.ggo-icon-crew {
  color: var(--ion-color-secondary);
}

.ggo-icon-upgrade {
  color: var(--ion-color-tertiary);
}

.ggo-icon-module {
  color: orange;
}
