:root {
  --game-cell-size: 6em;
  --game-cell-margin: 0.5em;
}

.game-cell-container {
  margin: 0 calc(var(--game-cell-margin)/2);
  padding: 0;
}

.game-cell-container.overlay {
  margin: 0;
}

.game-cell-popover {
  padding: var(--game-cell-margin);
  width: var(--game-cell-size) * 2;
  margin: 0 calc(var(--game-cell-size) * -0.5);
  background-color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-secondary);
}
