:root {
  --game-cell-size: 100px;
  --game-cell-margin: calc(var(--game-cell-size) * 0.05);
}

.game-cell-container {
  margin: 0 calc(var(--game-cell-margin)/2);
  padding: 0;
}

.game-cell-container.overlay {
  margin: 0;
}

.game-cell-popover {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
}
