:root {
}

.game-grid {
  margin: 0 auto;
  padding: 0;
}

.game-row {
  height: var(--game-cell-size);
  margin: var(--game-cell-margin);
  padding: 0;
}

.game-grid-4 {
  width: calc(var(--game-cell-size) * 4 + var(--game-cell-margin) * 6);
}

.game-grid-5 {
  width: calc(var(--game-cell-size) * 5 + var(--game-cell-margin) * 7);
}

.game-grid-6 {
  width: calc(var(--game-cell-size) * 6 + var(--game-cell-margin) * 8);
}
