.card * {
  margin: 0;
  padding: 0;
}

.sized-in-css {
  width: 100%;
}

.card.crew-card {
  background: var(--ion-color-warning-shade);
  color: var(--ion-color-warning-contrast);

  &.square-box {
    --aspect-ratio: 0.8;
  }

  .square-content {

    text-align: left;
    padding: 7%;

    .crew-profile-picture {
      width: 100%;
      border: solid;
      border-width: calc(var(--element-width) * 0.03);
      border-radius: 10%;
      margin-right: 4%;

      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }

    .right-column {
      padding-left: 5%;

      h3 {
        font-size: calc(var(--element-width) * 0.33);
        margin-bottom: 0;
        margin-top: 3%;
        height: 50%;
        color: black;
      }

      h4 {
        font-size: calc(var(--element-width) * 0.25);
        margin-top: -3%;
        height: 50%;
      }
    }

    .power {
      margin-top: 3%;
      width: 100%;
      font-size: calc(var(--element-width)*0.06);
    }

    .exhaust {
      width: 100%;
      font-size: calc(var(--element-width)*0.045);
      text-align: right;

      position: absolute;
      bottom: 2%;
      right: 6%;

      .flip-icon {
        font-size: calc(var(--element-width)*0.07);
        text-align: right;
        ion-icon {
          color: black;
        }
      }
    }
  }
}
