.printable .card {
  border: 1px white solid;
}

.material-build-preview {
  .card.space-card {
    border: var(--ion-text-color) solid thin;
  }
}

.printer-friendly {
  &.card, .card {

    * {
      color: black !important;
      text-shadow: none;
    }
    background: white !important;
    color: black !important;
    border: 1px black solid;

    h1, h2, h3, h4 {
      color: black !important;
    }
  }
}

.card {
  background: black;
  text-align: center;

  h3 {
    color: var(--ion-text-color);
  }
}

.space-card {
  .square-content {
    padding: 6%;

    .ggo-icon {
      position: absolute;
      left: calc(50% - var(--size)/2);
      top: calc(50% - var(--size)/2);

      &.ggo-icon-planet-gas {
        --size: 35%;
      }

      &.ggo-icon-planet-rocky {
        --size: 20%;
      }

      &.ggo-icon-star-red {
        --size: 35%;
      }

      &.ggo-icon-star-yellow {
        --size: 40%;
      }

      &.ggo-icon-star-blue {
        --size: 50%;
      }

      &.ggo-icon-robotFactory {
        --size: 60%;
      }

      &.ggo-icon-star-blackHole {
        --size: 44%;
        position: absolute;
        top: 23%;
      }

      &.ggo-icon-spaceStation {
        --size: 50%;
      }

      &.ggo-icon-asteroidField {
        --size: 70%;
        position: absolute;
        top: 13%;
      }

      &.ggo-icon-gasCloud {
        --size: 60%;
      }
    }

    h3 {
      font-size: calc(var(--element-width) * 0.18);
    }

    .space-card-effect {
      --shadow-size: calc(var(--element-width) * 0.004);
      color: var(--ion-text-color);
      text-shadow: var(--shadow-size) var(--shadow-size) rgba(0,0,0,0.7);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: calc(var(--element-width) * 0.065);
      padding: 6%;
    }
  }
}
