.printer-friendly {
  &.card {
    background-color: white;
    color: black;
    border: 1px black solid;

    h3 {
      color: black;
    }
  }
}

.card {
  background: black;
  text-align: center;

  h3 {
    color: var(--ion-text-color);
  }
}

.space-card {
  .square-content {
    padding: 6%;

    .ggo-icon {
      position: absolute;
      left: calc(50% - var(--size)/2);
      top: calc(50% - var(--size)/2);

      &.ggo-icon-planet-gas {
        --size: 35%;
      }
    }

    h3 {
      font-size: calc(var(--element-width) * 0.18);
    }

    .space-card-effect {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: calc(var(--element-width) * 0.06);
      padding: 6%;
    }
  }
}
