@font-face {
   font-family: 'Tulpen One';
   src: url('./TulpenOne-Regular.ttf');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Slab';
   src: url('./RobotoSlab-VariableFont_wght.ttf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Indie Flower';
   src: url('./IndieFlower-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}
