
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen {
  .only-print {
    opacity: 0 !important;

    .card {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0)
    }
  }
}

@media print {
  * {
    -webkit-print-color-adjust:exact;
  }

  .no-print {
    display: none !important;
  }

  html {
    overflow: auto;
    height: max-content;
    display: block;
  }

  body {
    position: relative;
    overflow: auto;
    height: max-content;
    display: block;
    min-width: 0 !important;
    width: 190mm;
    --ion-background-color: white;
  }

  .ion-page,
  ion-router-outlet {
    position: relative;
    display: block;
    contain: unset;
    height: max-content;
  }

  #root {
    position: relative;
  }

  .printable {
    overflow: auto;
    height: max-content;
    position: relative;

    .card {
      page-break-inside: avoid;
    }
  }

  .popoverWithCard {
    display: none;
  }

  @page {
    size: A4;
    margin: 1cm
  }
}
