$font-size: 20pt;

h1, h2, h3, h4 {
  font-family: 'Tulpen One';
}

h1 {
 font-size: 2.5 * $font-size;
}

h2 {
  font-size: 2 * $font-size;
}

h3 {
  font-size: 1.75 * $font-size;
}

h4 {
  font-size: 1.5 * $font-size;
}

.notes {
  font-family: 'Indie Flower';
  background-color: #f3dcb4;
  color: #222;
  margin: 0 1.5em 0.5em 1.5em !important;
  padding: 0.5em;
  font-size: 1.5em !important;
  transform: rotate(5deg);
}

html {
  ion-toolbar {
    font-family: 'Tulpen One';
    font-size: $font-size !important;
  }

  ion-button {
    font-family: 'Tulpen One';
    font-size: $font-size !important;

    &.button-small {
      font-size: $font-size * .5 !important;
    }
  }

  ion-title {
    font-family: 'Tulpen One';
    font-size: $font-size;
  }

  ion-card-title {
    font-size: $font-size * 1.2;
    font-family: 'Tulpen One';
  }
}
