$font-size: 20pt;

.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em 1.5em;
  margin: 0 auto;
  text-align: justify;

  .default-markdown {
    h1, h2, h3, h4 {
      text-align: center;
      margin: 0 auto;
    }
  }

  .centre {
    text-align: center;
  }

}

h1, h2, h3, h4 {
  font-family: 'Tulpen One';
}

h1 {
 font-size: 2.5 * $font-size;
}

h2 {
  font-size: 2 * $font-size;
}

h3 {
  font-size: 1.75 * $font-size;
}

h4 {
  font-size: 1.5 * $font-size;
}

.handwritten {
  font-family: 'Indie Flower';
}

.note {
  margin: 0 1.5em 0.5em 1.5em !important;
  padding: 0.5em;
  font-size: 1.5em !important;
  transform: rotate(5deg);
}

html {
  ion-toolbar {
    font-family: 'Tulpen One';
    font-size: $font-size !important;
  }

  ion-button {
    font-family: 'Tulpen One';
    font-size: $font-size !important;

    &.button-small {
      font-size: $font-size * .5 !important;
    }
  }

  ion-title {
    font-family: 'Tulpen One';
    font-size: $font-size;
  }

  ion-card-title {
    font-size: $font-size * 1.2;
    font-family: 'Tulpen One';
  }
}
