.card.token {
  width: 24mm;

  .icon {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }

  &.enemy {
    width: 16mm;
    background: lightgrey;
  }

  &.crew {
    background: white;
    border-color: black;

    &:nth-child(2) .ggo-icon {
      color: orange;
    }

    &:nth-child(3) .ggo-icon {
      color: darkgreen;
    }

    &:nth-child(4) .ggo-icon {
      color: red;
    }
  }

  &.upgrade {
    background: var(--ion-color-tertiary);

    .ggo-icon {
      color: white;
    }
  }

  &.module {
    background: orange;
    .ggo-icon {
      color: white;
    }
  }

  &.playerShip {
    background: white;
    border-color: black;
    width: 36mm;
    --aspect-ratio: 0.66;
  }

  &.fuel {
    width: 16mm;
    background: grey;
  }
}
