ion-content ion-toolbar {
  --background: translucent;
}

.intro {
  text-align: center;
}

.startPage p{
  margin: 0.8em 0;
  font-size: 25pt;
  font-family: 'Tulpen One';
}

.startPage h1 {
  transform: rotate(6.9deg);
  margin-top: -0.2em;
  line-height: .8em;
  font-size: 80pt;
  text-shadow: 4px 4px rgba(0,0,0,0.6);
  margin-bottom: 0.4em;
}
