.gameAndRulesContainer {
  text-align: center;

  display: flex;
  align-items: center;
  height: 100%;

  .gameAndRulesTable {
    max-width: 1320px;
    margin: 0 auto;

    .gameContainer {
      width: 660px;
    }

    .rulesContainer {
      min-width: 400px;
      max-width: 660px;
      height: 100%;
      vertical-align: top;
    }
  }
}
