.gameAndRulesContainer {
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  max-width: 1320px;

  margin: 0 auto;

  .gameContainer {
    max-width: 660px;
    margin: 0 20px;
    vertical-align: top;
    padding-top: 5.5em;
  }

  .rulesContainer {
    min-width: 400px;
    max-width: 660px;
    height: 100%;
    vertical-align: top;
  }
}
