.ship-code {
  background: var(--ion-color-notebook);
  color: black;

  padding: 0.5em;
  margin: 0.5em;

  transform: rotate(6deg);
  display: inline-block;
}

.ship-tour {
  .top, .middle, .bottom {
    text-align: center;
  }
  .card {
    width: 30%;
    display: inline-block;
    margin: 0.2% 0.4%;
  }
}

.returnCheck {
  margin: 1em;
  .checkbox {
    margin-right: 1em;
    position: relative;
    top: 4px;
  }
}

.returnCountForm {
  margin: 1em;
  .label {
    padding: 1em;
  }
  .playCountInput {
    padding: 1em;
    max-width: 2em;
  }
}
